.chat-input{
    form{
       
        display: flex;
        justify-content: center;

        input{
            position: fixed;
            border: 2px solid gray;
            outline: none;
            border-radius: 100px;
            padding: 15px;
            width: 60%;
            bottom: 30px;
        }

        button{
            display: none !important;
        }
    }
}